body {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  color: #333333;
  font-size: 15px;
  line-height: 2;
  position: relative; }

ul {
  margin: 0;
  padding: 0; }

a {
  color: #3583aa;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

* {
  box-sizing: border-box; }

.header {
  height: 560px;
  background-image: url(9c51512420d70040e8aab73d831949b5.jpg);
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .header__inner {
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: flex-end; }
  .header__nav {
    display: flex;
    margin-top: 56px; }
  .header__nav-list {
    list-style: none;
    margin: 0 20px;
    font-size: 20px;
    font-family: 'Bitter', serif; }
  .header__nav-link {
    color: #ffffff; }
  .header__nav-link:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid #ffffff;
    text-decoration: none; }
