.header {
  height:           560px;
  background-image: url(../../image/bg-portfolio.jpg);
  background-size:  cover;

  &__nav {
    width:           50%;
    margin:          0 auto;
    display:         flex;
    justify-content: flex-end;
  }
  
  &__box {
    display:    flex;
    margin-top: 56px;
  }

  &__box-list {
    margin:      0 20px;
    font-size:   20px;
    list-style:  none;
    font-family: 'Bitter', serif;
  }
          
  a { color: #ffffff; }

  a:hover {
    border-bottom:   2px solid #ffffff;
    padding-bottom:  3px;
    text-decoration: none;
  }

}
