.header {
  height:                560px;
  background-image:      url(../../image/bg-portfolio.jpg);
  background-position:   center top;
  background-size:       100% auto;
  background-repeat:     no-repeat;
  background-attachment: fixed;
  
  &__nav-list {
    display:         flex;
    width:           50%;
    margin:          0 auto;
    padding-top:     56px;
    justify-content: flex-end;

    &-item {
      list-style:  none;
      margin:      0 20px;
      font-size:   20px;
      font-family: 'Bitter', serif;
    }
          
    &-item-link { color: #ffffff; }

    &-item-link:hover {
      padding-bottom:  3px;
      border-bottom:   2px solid #ffffff;
      text-decoration: none;
    }
  }
}
