header {
  height:           560px;
  background-image: url(../../image/bg-portfolio.jpg);
  background-size:  cover;

  nav {
    width:           50%;
    margin:          0 auto;
    display:         flex;
    justify-content: flex-end;

    .global-nav {
      display:    flex;
      margin-top: 60px;

      &__global-list {
        margin:      0 20px;
        font-size:   20px;
        list-style:  none;
        font-family: 'Bitter', serif;
       
      }
    }
  }
}
