.main {
  width:            900px;
  margin:           0 auto;
  padding:          35px 0;
  background-color: #ffffff;

  &__article {
    display: inline-block;
    width:   600px;
    margin:  0 10px;

    &-title {
      border-bottom: 1px solid #cccccc;
      font-size:     36px;
      font-family:   'Bitter', serif;
    }

    &-content-image-photo {
      @include contentImage(url(../../image/portfolio-photo.jpg));
    }

    &-content-image-photo:hover {
      @include contentImageHover()
    }


    &-content-image-video {
      @include contentImage(url(../../image/portfolio-video.jpg));
    }

    &-content-image-video:hover {
      @include contentImageHover()
    }
  }

  &__sidebar {
    display:        inline-block;
    width:          200px;
    margin:         0 10px 0 30px;
    font-family:    'Bitter', serif;
    vertical-align: top;

    &-title {
      font-size: 24px;
    }

    &-list {
      margin-left: 20px;
      font-size:   16px;

      &-link {
        color: #333333;
      }
    }
  }
}
